
.box-main-container{
    background-color: #F8F8FF;
    width: 80vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-sub-container{
    height: 98%;
   width: 82%;
   background-color: #EEEEFF;
   border-radius: 8px;

}


.box{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, #EEEEFF,#F8F8FF);
    display: grid;
    
    justify-content: center;
    align-items: center;
}
.title-text{
    color: #232b2b;
    font-size: 22px;
}
.page-footer-container{
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 8vh;
    z-index: 999;
}
.page-footer{
    width: 100%;
    height: 100%;
    display:grid;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
}
.page-footer-content-1{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 8px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
   
   
    
}
.page-footer-content-1>div{
text-wrap: nowrap;
font-size: 16px;
color: rgb(82, 80, 80);
}
.page-footer-content-2>p{
font-size: 14px;
color: rgb(104, 103, 103);
}
.form-Container{
    
    margin-bottom: 64px;
    
}
.form{
    display: grid;
    grid-template-row: repeat(4,1fr);
    grid-row-gap: 12px;
    justify-content: center;
    align-items: center;
    height: 50vh;

}
.form>div{
    width: 56vh;
    height: 6vh;
    display: flex;
    align-items: center;
}

.form>span{
    text-align: center;
    color: #C1423F;
    font-size: 16px;
}
input{
    width: 100%;
    height: 100%;
    border: none;
    border: 1px solid #babaf8;
    font-size: 16px;
    border-radius: 6px;
    text-indent: 20px;
   
    
}
input:focus{
    outline: none;
    box-shadow: 0px 1px 2px #7c7cf8;
    color: black;
    
}
input::placeholder{
    color: rgb(32, 31, 31);
}
input[type="email"]:focus{
    box-shadow: 0px 1px 2px #9f9fff;
    color: rgb(62, 62, 62);
}
input[type="email"]::placeholder{
    color: rgb(89, 88, 88);
}
.input-password:focus{
    box-shadow: 0px 1px 2px #a5a5ff;
    color: rgb(104, 103, 103);
}
.input-password{
    border-right: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 0px;
}
.input-password::placeholder{
    color: rgb(127, 126, 126);
}
.show-or-hide-password{
    height: 104%;
    width: 50px;
    border: 1px solid #babaf8; border-left: none;
    border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
background-color: white;
font-size: 12px;
}

input[type="submit"]{
    width: 100%;
    font-size: 16px;
    padding: 2px;
    
    color: #f8fcfc;
    margin-top: 18px;
    border-radius: 4px;
    border: none;
    background-color: #7777fa;
}
.box>p{
 font-size: 16px;  
 margin-bottom: 24px; 
}
.box>p>a{
    text-decoration: underline;
}
p.title-text{
    font-size: 24px;
    padding-top: 12px;
    color: black;
}